App.css

/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header styles */
.header {
  background-color: #49478c;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

/* Sidebar styles */
.sidebar {
  height: 100vh; /* Full height */
  width: 250px; /* Sidebar width */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #130756; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main-content {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 20px;
}